.detail-container {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.image-container {
  flex:2;
  height: 500px;
  justify-content: center;
  display: flex;
}

.info-container {
  flex:3;
}

.title-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 150px;
}

.info-container p {
  font-size: 26px;
}

.cast {
  font-size: 26px;
  padding: 15px 0;
}

.summary {
  font-size: 22px;
  padding: 10px 0;
}